/* Project Section */
#latest-projects {
    padding: 50px 80px;
    text-align: left;
}

#latest-projects .content {
    padding-left: 20%;
}

#latest-projects h2 {
    font-size: 36px;
    font-weight: 700;
    color: #3c3c3c;
    margin-bottom: 10px;
    padding-bottom: 0;
}

#latest-projects p {
    font-size: 20px;
    color: #5a5a5a;
    margin-top: 5px;
    margin-bottom: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.project-box {
    background: #fff;
    color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.project-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-image {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.project-box h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-box p {
    font-size: 16px;
}

@media (max-width: 768px) {
    .project-box {
        flex: 1 1 calc(100% - 40px);
    }

    #latest-projects .content {
        padding-left: 10%;
    }
}
